<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NetWorks.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
				<key>dateExpires</key>
				<string>3/3/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
						<key>dateExpires</key>
						<string>3/3/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J223WE3VTU</string>
						<key>name</key>
						<string>Jupiter Jones</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
						<key>dateExpires</key>
						<string>3/3/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J223WE3VTU</string>
						<key>name</key>
						<string>Jupiter Jones</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
						<key>dateExpires</key>
						<string>3/3/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireNetworkActivityIndicator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J223WE3VTU</string>
						<key>name</key>
						<string>Jupiter Jones</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
						<key>dateExpires</key>
						<string>3/3/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EPSignature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J223WE3VTU</string>
						<key>name</key>
						<string>Jupiter Jones</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
						<key>dateExpires</key>
						<string>3/3/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EVReflection.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J223WE3VTU</string>
						<key>name</key>
						<string>Jupiter Jones</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
						<key>dateExpires</key>
						<string>3/3/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FontAwesome.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J223WE3VTU</string>
						<key>name</key>
						<string>Jupiter Jones</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
						<key>dateExpires</key>
						<string>3/3/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ILPDFKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J223WE3VTU</string>
						<key>name</key>
						<string>Jupiter Jones</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
						<key>dateExpires</key>
						<string>3/3/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J223WE3VTU</string>
						<key>name</key>
						<string>Jupiter Jones</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
						<key>dateExpires</key>
						<string>3/3/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Restofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J223WE3VTU</string>
						<key>name</key>
						<string>Jupiter Jones</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
						<key>dateExpires</key>
						<string>3/3/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftLocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J223WE3VTU</string>
						<key>name</key>
						<string>Jupiter Jones</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
						<key>dateExpires</key>
						<string>3/3/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J223WE3VTU</string>
						<key>name</key>
						<string>Jupiter Jones</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE0AD6F92FAC8B45BB47355AE29CDA473E921E69</string>
						<key>dateExpires</key>
						<string>3/3/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XCGLogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J223WE3VTU</string>
						<key>name</key>
						<string>Jupiter Jones</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J223WE3VTU.earth.MyNation.NetWorks</string>
				<key>com.apple.developer.team-identifier</key>
				<string>J223WE3VTU</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>J223WE3VTU.earth.MyNation.NetWorks</string>
				</array>
			</dict>
			<key>name</key>
			<string>NetWorks.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0146aff0-949d-450c-a5b0-9eb5dfc7c68a</string>
				<key>name</key>
				<string>XC iOS Ad Hoc: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J223WE3VTU</string>
				<key>name</key>
				<string>Jupiter Jones</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
